@font-face {
  font-family: 'metropolisbold';
  src: url('./fonts/metropolis-bold-webfont.eot');
  src: url('./fonts/metropolis-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/metropolis-bold-webfont.woff2') format('woff2'),
    url('./fonts/metropolis-bold-webfont.woff') format('woff'),
    url('./fonts/metropolis-bold-webfont.svg#metropolisbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolismedium';
  src: url('./fonts/metropolis-medium-webfont.eot');
  src: url('./fonts/metropolis-medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/metropolis-medium-webfont.woff2') format('woff2'),
    url('./fonts/metropolis-medium-webfont.woff') format('woff'),
    url('./fonts/metropolis-medium-webfont.svg#metropolismedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolisregular';
  src: url('./fonts/metropolis-regular-webfont.eot');
  src: url('./fonts/metropolis-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/metropolis-regular-webfont.woff2') format('woff2'),
    url('./fonts/metropolis-regular-webfont.woff') format('woff'),
    url('./fonts/metropolis-regular-webfont.svg#metropolisregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolissemi_bold';
  src: url('./fonts/metropolis-semibold-webfont.eot');
  src: url('./fonts/metropolis-semibold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/metropolis-semibold-webfont.woff2') format('woff2'),
    url('./fonts/metropolis-semibold-webfont.woff') format('woff'),
    url('./fonts/metropolis-semibold-webfont.svg#metropolissemi_bold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolisthin';
  src: url('./fonts/metropolis-thin-webfont.eot');
  src: url('./fonts/metropolis-thin-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/metropolis-thin-webfont.woff2') format('woff2'),
    url('./fonts/metropolis-thin-webfont.woff') format('woff'),
    url('./fonts/metropolis-thin-webfont.svg#metropolisthin') format('svg');
  font-weight: normal;
  font-style: normal;
}
