:root {
  --textblack: #000;
  --white: #fff;
  --gray: #7987a1;
  --gray-dark: #212a3a;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #cbd1db;
  --gray-500: #aeb7c5;
  --gray-600: #7987a1;
  --gray-700: #41516c;
  --gray-800: #212a3a;
  --gray-900: #060c17;
  // --ActiveColor: #6571ff;
  --ActiveColor: #7c86ff;
  --ActiveHoverColor:#646fed;
  --LightActiveColor:#b2b8ff;
  --PARApproved:#4be7cf;
  --BeforePCN:#e1e1e1;
  --secondary: #7987a1;
  --YellowBG:#ffa412;
  --PARApprovedBG:rgba(75, 231, 207, 0.2);
  --PCNApprovedBG:rgb(124,134,255,0.2);
  --BeforePCNBG:rgba(225,225,225,0.2);
  --YTDBG:rgba(255,164,18,0.15);
  --opacity2:.2;
  --textsucess: #05a34a;
  --info: #66d1d1;
  --warning: #fbbc06;
  --danger: #ff3366;
  --light: #e9ecef;
  --dark: #060c17;
  --body-bg-rgb: 249, 250, 251;
  --graphSecondary:#e9ecef;
  --font-family: 'Poppins', sans-serif;  
  --body-font-weight: 400;
  --textColor: #000;
  // --textSecondary:#737791;
  --textSecondary:#565678;
  --body-bg: #f9fafb;
  --bs-border-width: 1px;
  --border-Solid: solid;
  --borderColor: #e9ecef;
  --dropdown-link-color:#060c17;
  --ShadowColor:rgba(183, 192, 206, 0.2);
  --CardBorderColor:#f2f4f9;
  --footerBg:#041598;
  --footerBorder:#30287a;
  --IconBg:#e9ecef;
  --IconBgColor:#53566b;
  --textGreen:#4be7cf;
  --textYellow:#ffa412;
  --textDarkGrey:#8d91a5;
  --PrimaryBtn:#7c86ff;
  --greyBorder:#dcdcdc;
  --BgGreen:#ECFBF5;
  --BorderGreen:#B1F6DB;
  --BgRed:#FFF0F0;
  --BorderRed:#F3DBDB;
  --BgLtblue:#ECF8FC;
  --BorderLtblue:#B3E4F4;
  --BgLtYellow:#FEF8E7;
  --BorderLtYellow:#F3DFA7;
  --BgLightPurple:#F4F5FF;
  --LightActive:rgba(124,134,255,.15);
  --LightYellow:rgba(255,154,18,.15);
  --PurpleBG:#7c86ff;
  --GreenGRaph:#3ce9d0;
}